<div class="bg-yellow">
    <div class="container-one">
        <div class="header-info">
            <img src="../../assets/images/logo.png" alt="logo image">
            <ul class="menu">
                <li><a href="#">Features</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>
        <div class="phone-info">
            <div class="para">
                <h1>Inspire your inspiration</h1>
                <h2>Simple to use for your app, products<br> showcase and your inspiration</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis. Proin viverra risus a eros volutpat tempor. In quis arcu et eros porta lobortis sit </p>
                <a href="#."><i class="fab fa-apple sn-icon"></i></a>
                <a href="#."><i class="fas fa-robot sn-icon"></i></a> 
                <a href="#."><i class="fab fa-windows sn-icon"></i></a>
            </div>
            <div class="ipad">
                <img src="../../assets/images/mini-ipad.png" alt="ipad image">
            </div>
        </div>
    </div>
</div>