<div class="bg-black">
    <div class="container-three">
        <div class="container-sm-two">
            <h1>Keep in touch with us</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.</p>
            <div>
                <input type="text" placeholder="Enter your email to update" class="text-type"> 
                <input type="button" value="SUBMIT" class="btn">
            </div>
            <div>
                <a href="#."><i class="fab fa-facebook-square awesome-icon" title="facebook"></i></a> 
                <a href="#."><i class="fab fa-twitter-square awesome-icon" title="twitter"></i></a> 
                <a href="#."><i class="fab fa-google-plus-square awesome-icon" title="google-plus"></i></a>
                <a href="#."><i class="fab fa-pinterest-square awesome-icon" title="pinterest"></i></a>
            </div>
        </div>
        <div class="address-info">
               <p>HALOVIETNAM LTD<br>
                66, Dang Van ngu, Dong Da<br>
                Hanoi, Vietnam<br>
                contact@halovietnam.com<br>
                +844 35149182</p>
        </div>
        <div class="link-info">
            <ul>
                <li><a href="#.">Examples</a></li>
                <li><a href="#.">Shop</a></li>
                <li><a href="#.">License</a></li>
            </ul>
            <ul>
                <li><a href="#.">Contact</a></li>
                <li><a href="#.">About</a></li>
                <li><a href="#.">Privacy</a></li>
                <li><a href="#.">Terms</a></li>
            </ul>
            <ul>
                <li><a href="#.">Download</a></li>
                <li><a href="#.">Support</a></li>
                <li><a href="#.">Documents</a></li>
            </ul>
            <ul>
                <li><a href="#.">Media</a></li>
                <li><a href="#.">Blog</a></li>
                <li><a href="#.">Forums</a></li>
            </ul>
        </div>
    </div>
</div>