<div class="bg-white">
    <div class="container-two">
        <div class="container-sm-one">
            <h1>Tinyone features</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.</p>
        </div>
        <div>
            <div class="row-one">
                <div>
                    <i class="fas fa-tablet-alt float-left icons"></i>
                    <div class="features-info">
                        <h2>Fully Responsive</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.</p>
                    </div>
                </div>
                <div>
                    <i class="far fa-lemon float-left icons"></i>
                    <div class="features-info">
                        <h2>Fully Layered PSD</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.</p>
                    </div>
                </div>
                <div>
                     <i class="far fa-folder icons"></i>
                    <div class="features-info">
                        <h2>Font Awesome Icons</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.</p>
                    </div>
                </div>
            </div>
            <div class="row-two">
                <div>
                    <i class="fas fa-code icons"></i>
                    <div class="features-info">
                        <h2>HTML3 & CSS3 </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.</p>
                    </div>
                </div>
                <div>
                    <i class="far fa-envelope icons"></i>
                    <div class="features-info">
                        <h2>Email Template</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.</p>
                    </div>
                </div>
                <div>
                    <i class="far fa-bookmark icons"></i>
                    <div class="features-info">
                        <h2>Free to download</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>